<?xml version="1.0"?>
<robot name="broom_holder">
    <link name="robot_base">
        <inertial>
            <origin rpy="-3.141593 3.141593 -3.141593" xyz="0.075001 0.376002 0.248004" />
            <inertia ixy="0.0" ixz="0.0" iyz="0.0" ixx="0.041666664866109" izz="0.0083333333224678" iyy="0.041666664866109" />
            <mass value="4.9999995231628" />
        </inertial>
        <collision name="broom_holder">
            <origin rpy="-3.141593 3.141593 -3.141593" xyz="0.075001 0.376002 0.248004" />
            <geometry>
                <box size="0.100000 0.100000 0.500000" />
            </geometry>
        </collision>
        <visual name="broom_holder">
            <origin rpy="-3.141593 3.141593 -3.141593" xyz="0.075001 0.376002 0.248004" />
            <geometry>
                <box size="0.100000 0.100000 0.500000" />
            </geometry>
            <material name="robot_base_material">
                <color rgba="0.350000 0.480000 0.540000 1.0" />
            </material>
        </visual>
    </link>
</robot>
